<div *ngIf="!apresentaMenuTopo">
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" onload="menuTopo(false)">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="">
        <i class="fab fa-contao fa-2x"></i>&nbsp;
          Gerencia Condomínios
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="!apresentaMenuTopo">
            <a class="nav-teste js-scroll-trigger" href="#about">
              <i class="fas fa-comment-alt icones-menu"></i>&nbsp;
                Sobre
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-teste js-scroll-trigger" href="#signup">
              <i class="fas fa-file-signature icones-menu"></i>&nbsp;
                Contato
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-teste js-scroll-trigger" routerLink="login">
              <i class="fas fa-sign-in-alt icones-menu"></i>&nbsp;
                Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
