  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Sistema Gerenciador de Condomínios</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Uma forma facil e rapida de gerenciar seu condomínio e dar apoio aos moradores.</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Conheça mais</a>
      </div>
    </div>
  </header>
 <!-- About Section -->
 <section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">O que o Sistema Gerenciador de Condomínios é?</h2>
        <p class="text-white-50">
          É um sistema criado para o apoio no gerenciamento de condomínios.
          Com solução para contatos, automatização em agendamentos de salões, tais como obter dias disponíveis, marcar reuniões. <br />
          Algumas das funcionalidades presentes no sistema:
        </p>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-2x text-primary"></i>
              <i class="fas fa-user-tie fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="text-warning">Funcionários</h4>
            <p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-2x text-primary"></i>
              <i class="fas fa-users fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="text-warning">Moradores</h4>
            <p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-2x text-primary"></i>
              <i class="fas fa-receipt fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="text-warning">Boletos</h4>
            <p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-2x text-primary"></i>
              <i class="fas fa-book fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="text-warning">Agendamentos</h4>
            <p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-2x text-primary"></i>
              <i class="fas fa-comment-dots fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="text-warning">Chat</h4>
            <p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-2x text-primary"></i>
              <i class="fas fa-user-clock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="text-warning">Visitas</h4>
            <p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
        </div>
      </div>
    </div>
    <!--<img src="img/ipad.png" class="img-fluid" alt="">-->
  </div>
</section>

<!-- Contact Section -->
<section class="contact-section bg-black">
  <div class="container" style="width: 100%">

    <div class="row" style="width: 100%;height: 15rem;margin-left: 22%;">

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope fa-2x text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="#">edunicol@gmail.com</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fab fa-whatsapp fa-2x text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Celular</h4>
            <hr class="my-4">
            <div class="small text-black-50">+55 (61) 99211-1441</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="width: 100%;">
    <div class=" col-md-12 mb-3 mb-md-0 social d-flex justify-content-center">
      <a href="#" class="mx-2">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </div>
</section>
